<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.elbanic.awsregion</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>2A751056-87B7-4408-90D6-B868021760CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>029358E9-1301-4413-BB4D-06D5362BD4DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>elbanic</string>
	<key>description</key>
	<string>View and Copy AWS region codes</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>AWS Region Codes-v1.2</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>029358E9-1301-4413-BB4D-06D5362BD4DC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>region</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Finding processes...</string>
				<key>script</key>
				<string>#! /usr/local/bin/python
# -*- coding:utf-8 -*-

dic = {"us-east-1" : "US, IAD, N. Virginia",
    "us-east-2" : "US, CMH, Ohio",
    "us-west-1" : "US, SFO, N. California",
    "us-west-2" : "US, PDX, Oregon",
    "ca-central-1" : "Canada, YUL, Central",
    "eu-central-1" : "EU, FRA, Frankfurt",
    "eu-west-1" : "EU, DUB, Ireland",
    "eu-west-2" : "EU, LHR, London",
    "eu-west-3" : "EU, CDG, Paris",
    "eu-north-1" : "EU, ARN, Stockholm",
    "ap-east-1" : "Asia, HKG, Hongkong",
    "ap-northeast-1" : "Asia, NRT, Tokyo",
    "ap-northeast-2" : "Asia, ICN, Seoul",
    "ap-northeast-3" : "Asia, KIX, Osaka",
    "ap-southeast-1" : "Asia, SIN, Singapore",
    "ap-southeast-2" : "Asia, SYD, Sydney",
    "ap-south-1" : "Asia, BOM, Mumbai",
    "sa-east-1" : "South America, GRU, Sao Paulo",
    "cn-north-1" : "China, BJS, Beijing",
    "cn-northwest-1" : "China, ZHY, Ningxia"}

xmlString = """&lt;?xml version="1.0"?&gt; &lt;items&gt;"""
cnt = 0
for i in dic:
    if "{query}".lower() in str(dic[i]).lower() or "{query}".lower() in str(i).lower():
		cnt += 1
		xmlString += """&lt;item uid="desktop" arg="%s" valid="YES" autocomplete="%s" type="file"&gt;
				&lt;title&gt;%s&lt;/title&gt;
			&lt;/item&gt;""" % (i + " : " + dic[i], i, i  + " : " + dic[i])

if "{query}" == "all":
	for i in dic:
	    xmlString += """&lt;item uid="desktop" arg="%s" valid="YES" autocomplete="%s" type="file"&gt;
				&lt;title&gt;%s&lt;/title&gt;
			&lt;/item&gt;""" % (i + " : " + dic[i], i, i  + " : " + dic[i])
elif cnt == 0:
    xmlString += """&lt;item uid="desktop" arg="no result" valid="YES" autocomplete="No Result" type="file"&gt;
				&lt;title&gt;No Result&lt;/title&gt;
			&lt;/item&gt;"""

xmlString += """&lt;/items&gt;"""
print xmlString</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Start typing a process name...</string>
				<key>title</key>
				<string>AWS Region Codes</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2A751056-87B7-4408-90D6-B868021760CE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>You can view AWS regions alias and copy the code to clipboard.
Text search method : substring match</string>
	<key>uidata</key>
	<dict>
		<key>029358E9-1301-4413-BB4D-06D5362BD4DC</key>
		<dict>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>2A751056-87B7-4408-90D6-B868021760CE</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>170</real>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.2</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
